/*GENARAL*/

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(216deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 25%, rgba(42, 42, 42, 0.05) 25%, rgba(42, 42, 42, 0.05) 38%, rgba(223, 223, 223, 0.05) 38%, rgba(223, 223, 223, 0.05) 75%, rgba(36, 36, 36, 0.05) 75%, rgba(36, 36, 36, 0.05) 100%), linear-gradient(44deg, rgba(128, 128, 128, 0.05) 0%, rgba(128, 128, 128, 0.05) 34%, rgba(212, 212, 212, 0.05) 34%, rgba(212, 212, 212, 0.05) 57%, rgba(25, 25, 25, 0.05) 57%, rgba(25, 25, 25, 0.05) 89%, rgba(135, 135, 135, 0.05) 89%, rgba(135, 135, 135, 0.05) 100%), linear-gradient(241deg, rgba(55, 55, 55, 0.05) 0%, rgba(55, 55, 55, 0.05) 14%, rgba(209, 209, 209, 0.05) 14%, rgba(209, 209, 209, 0.05) 60%, rgba(245, 245, 245, 0.05) 60%, rgba(245, 245, 245, 0.05) 69%, rgba(164, 164, 164, 0.05) 69%, rgba(164, 164, 164, 0.05) 100%), linear-gradient(249deg, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 32%, rgba(148, 148, 148, 0.05) 32%, rgba(148, 148, 148, 0.05) 35%, rgba(202, 202, 202, 0.05) 35%, rgba(202, 202, 202, 0.05) 51%, rgba(181, 181, 181, 0.05) 51%, rgba(181, 181, 181, 0.05) 100%), linear-gradient(92deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%));
}
.container {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-image: linear-gradient(15deg, rgb(159, 159, 159) 0%, rgba(159, 159, 159, 0.458) 14.286%, rgba(165, 165, 165, 0.46) 14.286%, rgba(153, 151, 151, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.364) 42.858%, rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%), linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%, rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%, rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%, rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%, rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%, rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%, rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
    background-size: 100%;
}

/* TITRE*/

.heading a {
    color: rgba(255, 255, 255, 0.552);
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Philosopher', sans-serif;
}
.heading strong {
    padding-left: 10px;
    padding-right: 10px;
}
.head span:hover {
    color: #ffffff;
}
.title h1 {
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 50px;
    padding-top: 25px;
}
.title h1 strong {
    border: 2px solid rgba(0, 0, 0, 0.249);
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Cormorant Infant', serif;
    padding: 5px;
    font-size: 50px;
}

/*DIVIDER*/

.divider2 {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin: auto;
}
.divider {
    position: relative;
    width: 100px;
    height: 3px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
} 

/*QUESTIONS*/

#questions {
    padding-bottom: 50px;
    text-align: center;
}
#questions p {
    font-size: 1.3em;
}
#questions h2 {
    padding: 20px;
}
#questions img{
    width: 50%;
}

/*IMAGE*/

#image {
    padding-bottom: 50px;
}
#image img{
    width: 80%;
    display: block;
    margin: auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#image .bis{
    border: none;
    background: none;
}
#image h1 {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}

/*EXEMPLE*/

#exemple{
    text-align: center;
}
#exemple h2 {
    font-size: 1.5em;
}
#exemple h1 {
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: 2px underline;
}
.open {
    visibility: hidden;
}
.message2 {
    visibility: visible;
    opacity: 1;
    padding-top: 20px;
}
.message #btn {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

/*2éme EXEMPLE*/

#pink {
    background-color: #ff00ae;
    margin-left: 15px;
    margin-right: 15px;
}
#green {
    background-color: rgb(0, 255, 4);
    margin-left: 15px;
    margin-right: 15px;
}
#red {
    background-color: rgb(255, 0, 0);
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
}
.pinkTheme {
    background: #ff00ae;
    color: white;
}
.greenTheme {
    background: rgb(0, 255, 4);
}
.redTheme {
    background: rgb(255, 0, 0);
}
.baseColor {
    background-image: linear-gradient(15deg, rgb(159, 159, 159) 0%, rgba(159, 159, 159, 0.458) 14.286%, rgba(165, 165, 165, 0.46) 14.286%, rgba(153, 151, 151, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.364) 42.858%, rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%), linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%, rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%, rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%, rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%, rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%, rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%, rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
    color: rgb(0, 0, 0);
}
#darke {
    background-color: #000000;
    color: #fff;
}
#yellows {
    background-color: rgb(255, 255, 0);
}
#gray {
    background-color: rgb(230, 227, 224);
}

/*CHANGE BACKGROUND COLOR ANIMATE JS  EXEMPLE 3*/

.change {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.theme1 {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
}
.theme {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
}
#dark {
    background-color: #000000;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid rgb(255, 255, 255);
}
#yellow {
    background-color: rgb(255, 255, 0);
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid black;
}
#gris {
    background-color: rgb(230, 227, 224);
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid black;
}
.darkTheme {
    background: black;
}
.yellowTheme {
    background: rgb(255, 255, 0);
}
.grisTheme {
    background: rgb(230, 227, 224);
}

/*4éme exemple*/

.exemple2 {
    padding-top: 0px;
    padding-bottom: 0px;
}
#exemple h2 input {
    padding: 15px;
    margin: 25px;
    background-image: linear-gradient(216deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 25%, rgba(42, 42, 42, 0.05) 25%, rgba(42, 42, 42, 0.05) 38%, rgba(223, 223, 223, 0.05) 38%, rgba(223, 223, 223, 0.05) 75%, rgba(36, 36, 36, 0.05) 75%, rgba(36, 36, 36, 0.05) 100%), linear-gradient(44deg, rgba(128, 128, 128, 0.05) 0%, rgba(128, 128, 128, 0.05) 34%, rgba(212, 212, 212, 0.05) 34%, rgba(212, 212, 212, 0.05) 57%, rgba(25, 25, 25, 0.05) 57%, rgba(25, 25, 25, 0.05) 89%, rgba(135, 135, 135, 0.05) 89%, rgba(135, 135, 135, 0.05) 100%), linear-gradient(241deg, rgba(55, 55, 55, 0.05) 0%, rgba(55, 55, 55, 0.05) 14%, rgba(209, 209, 209, 0.05) 14%, rgba(209, 209, 209, 0.05) 60%, rgba(245, 245, 245, 0.05) 60%, rgba(245, 245, 245, 0.05) 69%, rgba(164, 164, 164, 0.05) 69%, rgba(164, 164, 164, 0.05) 100%), linear-gradient(249deg, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 32%, rgba(148, 148, 148, 0.05) 32%, rgba(148, 148, 148, 0.05) 35%, rgba(202, 202, 202, 0.05) 35%, rgba(202, 202, 202, 0.05) 51%, rgba(181, 181, 181, 0.05) 51%, rgba(181, 181, 181, 0.05) 100%), linear-gradient(92deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%));
    color: #8b8787;
}
#exemple h2 input:hover {
    color: #fff;
}
.padding {  /* fot the space of my new p*/
    margin: 25px;
}

/*CONCLUSION*/

#conclusion {
    padding-top: 50px;
    text-align: center;
}
#conclusion h2 {
    text-align: center;
    padding: 25px;
}
#conclusion .conclusion {
    font-size: 1.3em;
}

/*NEXT CSS*/

.next {
    color: rgba(126, 126, 126, 0.568627451);
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 50px;
    padding-top: 25px;
}
.next a {
    text-decoration: none;
}
.next .h1 strong {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-family: 'Cormorant Infant', serif;
    color: #ffffff;
}
.next .h1 strong:hover {
    cursor: pointer;
    color: #000000;
    font-size: 1.3em;
}

/*FOOTER*/

.footer {
    font-family: "Poppins", sans-serif;
    position: relative;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.social-icon,
.menu {
    list-style: none;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.social-icon li {
    padding-right: 15px;
    padding-left: 15px;
}
.menu li {
    padding-right: 15px;
    padding-left: 15px;
}
.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
    color: #000000;
}
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}
.menu__link:hover {
    opacity: 1;
    color: #000000;
}
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}
.social-icon__link:hover {
    transform: translateY(-10px);
    color: #000000;
}
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}
.menu__link:hover {
    opacity: 1;
    color: #000000;
}